.checkout {

	width: 398px;
	align-self: center;
	margin: auto;

	&__title {

		margin-bottom: 16px;

	}

	&__text {

		font-size: 24px;
		line-height: 40px;
		color: var(--grey);
		margin-bottom: 40px;

	}

	&__text-20 {

		font-size: 20px;
		line-height: 2;
		color: var(--grey);

	}

	&__content {

		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 504px;

	}

	&__content &__title {

		margin: 40px 0;

	}

	&__content &__text {

		min-height: 200px;
		margin-bottom: 20px;

	}

	&__foot {

		display: flex;
		margin-top: 50px;

	}

	&__btn-next {

		flex-grow: 1;

	}

	&__btn-prev {

		margin-right: 16px;

	}

	&:invalid &__btn-submit {

		pointer-events: none;
		background-color: var(--border);

	}

}