.checkout {

	width: 398px;
	align-self: center;
	margin: auto;

	&__title {

		margin-bottom: 16px;

	}

	&__text {

		font-size: 18px;
		line-height: 32px;
		color: var(--grey);

	}

	&__content {

		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 520px;

	}

	&__content &__title {

		margin-bottom: 40px;

	}

	&__content &__text {

		font-size: 24px;
		line-height: 40px;

	}

	&__foot {

		display: flex;
		margin-top: 40px;

	}

	&__btn-next {

		flex-grow: 1;

	}

	&__btn-prev {

		margin-right: 16px;

	}

}