fieldset {

	border: 0;
	min-width: 0;
	display: block;
	position: relative;

	&:focus {

		outline: none;

	}

}

legend {

	display: table;

	&:focus {

		outline: none;

	}

}

.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	transition: var(--transitionDefault);
	user-select: none;
	position: relative;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	display: block;
	flex-shrink: 0;

	&:hover {

		cursor: pointer;

	}

	&:focus {

		outline: none;

	}

	&:disabled {

		pointer-events: none;

	}

}

.btn {

	border-radius: 8px;
	line-height: 48px;
	padding: 0 40px;
	height: 48px;
	font-weight: 500;
	font-size: 16px;
	font-family: 'Outfit';
	color: #fff;
	background-color: var(--blue);

	&:disabled {

		background-color: var(--border);

	}

	&--green {

		background-color: var(--green);

	}

	&--back {

		width: 48px;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid var(--blue);
		border-radius: 4px;
		background-color: #fff;

		svg {

			fill: var(--blue);

		}

	}

	&-exit {

		display: flex;
		align-items: center;
		font-weight: 600;
		font-size: 14px;
		line-height: 40px;
		color: var(--blue);

		svg {

			margin-left: 8px;

		}

	}

	&--docs {

		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		font-weight: 600;
		border-radius: 5px;
		font-family: 'Source Sans Pro';

		svg {

			fill: none;
			margin-right: 16px;
			stroke: #fff;

		}

	}

	&--copy {

		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		font-weight: 600;
		border-radius: 5px;
		font-family: 'Source Sans Pro';

		svg {

			fill: #fff;
			margin-right: 16px;
			opacity: .5;

		}

	}

}

.inputbox {

	&__label {

		font-weight: 600;
		font-size: 12px;
		line-height: 20px;
		display: block;
		margin-bottom: 4px;

	}

	&__input-wrap {

		position: relative;

	}

	&__input-ico-right {

		position: absolute;
		top: 0;
		right: 16px;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		pointer-events: none;

		&-btn {

			pointer-events: auto;

			svg {

				fill: var(--border);

			}

			@include desktop {

				&:hover svg {

					fill: var(--blue);

				}

			}

		}

	}

}

.radio-btn-plan {

	display: block;
	cursor: pointer;
	padding: 12px 16px 12px 48px;
	position: relative;
	box-shadow: 2px 2px 20px rgba(13, 19, 33, 0.04);
	border-radius: 10px;
	margin: 20px 0;
	user-select: none;

	&__head {

		display: flex;
		font-family: 'Outfit';
		margin-bottom: 2px;

		&::before {

			position: absolute;
			width: 14px;
			height: 14px;
			top: 20px;
			left: 16px;
			content: '';
			border: 1px solid var(--grey);
			border-radius: 4px;

		}

		&::after {

			position: absolute;
			width: 8px;
			height: 8px;
			top: 24px;
			left: 20px;
			content: '';
			border-radius: 2px;

		}

		@include w1440 {

			margin-bottom: 10px;

			&::before {

				top: 16px;

			}

			&::after {

				top: 20px;

			}

		}

	}

	&__input:checked + &__head::before {

		border-color: var(--blue);

	}

	&__input:checked + &__head::after {

		background-color: var(--blue);

	}

	&__name {

		font-weight: 600;
		font-size: 20px;
		flex-grow: 1;
		display: flex;
		line-height: 32px;

		&[data-suf]::after {

			content: attr(data-suf);
			font-weight: 600;
			line-height: 24px;
			font-size: 12px;
			margin-left: 4px;
			color: var(--pink);

		}

		@include w1440 {

			font-size: 16px;
			line-height: 24px;

		}

	}

	&__price {

		line-height: 24px;
		font-weight: 600;
		font-size: 18px;
		color: var(--blue);

	}

	&__time {

		font-size: 12px;
		color: var(--grey);
		line-height: 24px;

	}

	&__desc {

		display: block;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;

		@include w1440 {

			font-size: 14px;

		}

	}

}


.input {

	line-height: 24px;
	padding: 12px 16px;
	font-size: 16px;
	color: var(--color);
	font-weight: 600;

	width: 100%;
	font-family: inherit;
	position: relative;
	appearance: none;
	display: block;
	filter: none;
	-webkit-transform: translateZ(0px);

	background-color: #fff;

	height: 48px;
	border: 1px solid var(--border);
	border-radius: 10px;

	@include w360 {


	}

	textarea#{&} {

		height: 256px;
		resize: none;
		overflow: auto;

		scrollbar-width: thin;
		scrollbar-color: var(--border) transparent;

		&::-webkit-scrollbar {

			width: 6px;
			border-radius: 0;
			background-color: transparent;

		}

		&::-webkit-scrollbar-thumb {

			border-radius: 0;
			background-color: var(--border);

		}

	}

	@include desktop {

		font-size: 14px;

	}

	&::placeholder {

		opacity: 1;
		color: var(--border);

	}

	&::-ms-clear {

		display: none;

	}

	&:hover:not(:focus):not([readonly]) {

		@include desktop {

			border-color: var(--grey);

		}

	}

	&:focus {

		outline: none;
		border-color: var(--grey);

		&::placeholder {

			color: var(--grey);

		}

	}

	&:disabled {

		opacity: .5;
		box-shadow: none;
		background-color: var(--bg);

	}

	&[readonly] {

		border-color: var(--bg);
		background-color: var(--bg);

	}

	&:invalid {

		box-shadow: none;

	}

	&:valid {

		box-shadow: none;

	}

}