.modal {

	flex-grow: 1;
	position: relative;
	z-index: 10;
	display: none;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: var(--indent);
	backdrop-filter: blur(10px);

	@include w1024 {

		padding: 30px;

	}

	&__box {

		position: relative;
		max-width: 100%;

	}

	&__item {
outline:1px solid red;
		/* background-color: #fff; */
		max-width: 100%;
		width: 526px;
		border-radius: 10px;
		padding: 40px;

		@include w1440 {

			width: 478px;

		}

		@include w1024 {

			width: 446px;
			padding: 24px;

		}

	}


}

.modal-show {

	.modal {

		display: flex;

	}

	.wrapper {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		pointer-events: none;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			z-index: 9;
			opacity: .3;
			background-color: var(--color);

		}

	}

}