.progress {

	overflow: hidden;
	position: relative;

	&__list {

		height: 2px;
		background-color: var(--blue);
		position: relative;
		margin: 24px 0 52px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		counter-reset: headings 0;

		@include w1440 {

			margin-bottom: 42px;

		}

	}

	&__item {

		font-size: 14px;
		line-height: 24px;
		width: 10px;
		height: 10px;
		flex-shrink: 0;
		border-radius: 50%;
		text-align: center;
		background-color: var(--blue);

		@include w1440 {

			font-size: 12px;

		}

		&.is-current {

			color: var(--color);
			background-color: #fff;
			box-shadow: inset 0 0 0 2px var(--blue);

			&::after {

				position: absolute;
				width: 100vw;
				top: 4px;
				left: 100%;
				bottom: 4px;
				content: '';
				background-color: var(--border);

			}

		}

		&.is-disabled {

			color: var(--grey);
			background-color: var(--border);

			&::after {

				position: absolute;
				width: 100vw;
				top: 4px;
				left: 100%;
				bottom: 4px;
				content: '';
				background-color: var(--border);

			}

		}

		&::before {

			counter-increment: headings 1;
			content: counter(headings, decimal);
			position: absolute;
			top: -26px;
			left: -12px;
			right: -12px;
			text-align: center;

		}

	}

	&__link {

		position: absolute;
		top: -24px;
		left: -4px;
		right: -4px;
		bottom: -4px;

	}

}