.screenshot {

	position: relative;
	padding-left: 74px;
	overflow: hidden;
	max-width: 934px;
	display: flex;
	align-items: center;

	@include w1440h1024 {

		max-width: 712px;

	}

	@include w1024h600 {

		max-width: 512px;
		padding-left: 46px;

	}


	&__inner {

		position: relative;

	}

	&__name {

		position: absolute;
		font: 500 13px/24px 'Inter';
		color: #fff;
		background-color: var(--blue);
		border-radius: 5px;
		box-shadow: -4px -4px 20px rgba(65, 168, 237, 0.3);
		left: -10px;
		display: flex;
		align-items: center;
		padding-left: 36px;
		width: 196px;
		height: 48px;

		svg {

			margin-right: 16px;
			stroke: #fff;
			fill: none;

			@include w1440h1024 {

				margin-right: 10px;
				width: 20px;
				height: 20px;

			}

			@include w1024h600 {

				margin-right: 6px;
				width: 13px;
				height: 13px;

			}

		}

		&--dashboard {

			top: 84px;

			@include w1440h1024 {

				top: 70px;

			}

			@include w1024h600 {

				top: 50px;

			}

		}

		&--billing {

			top: 337px;

			@include w1440h1024 {

				top: 294px;

			}

			@include w1024h600 {

				top: 200px;

			}

		}

		@include w1440h1024 {

			width: 166px;
			height: 38px;
			font-size: 12px;

		}

		@include w1024h600 {

			height: 28px;
			width: 110px;
			font-size: 8px;
			left: -5px;
			padding-left: 24px;

		}

	}

	&__files {

		position: absolute;
		top: -32px;
		left: 428px;
		fill: none;
		background-color: #fff;
		border-radius: 8px;
		box-shadow: 0 0 0 1px var(--bg), -4px -4px 20px rgba(13, 19, 33, 0.06);

		@include w1440h1024 {

			top: -26px;
			left: 398px;
			width: 178px;
			height: 100px;

		}

		@include w1024h600 {

			top: -18px;
			left: 264px;
			width: 126px;
			height: 71px;

		}

	}

	img {

		box-shadow: -4px -4px 20px rgba(13, 19, 33, 0.06);
		border-radius: 10px;

		@include w1440h1024 {

			width: 864px;
			height: auto;

		}

		@include w1024h600 {

			width: 594px;
			height: auto;

		}

	}

	&--payment {

		overflow: visible;
		padding: 0;
		margin: auto;

		img {

			box-shadow: none;
			border-radius: 0;

			@include w1440h1024 {

				width: 605px;
				height: 715px;

			}

			@include w1024h600 {

				width: 393px;
				height: 464px;
				margin-bottom: 40px;

			}

		}

	}

}