.screenshot {

	margin-left: calc(var(--indent) - 54px);
	position: relative;
	margin-top: 20px;
	padding: 54px;
	overflow: hidden;

	&__name {

		position: absolute;
		font: 500 13px/24px 'Inter';
		color: #fff;
		background-color: var(--blue);
		border-radius: 5px;
		box-shadow: -4px -4px 20px rgba(65, 168, 237, 0.3);
		left: 44px;
		display: flex;
		align-items: center;
		padding-left: 36px;
		width: 196px;
		height: 48px;

		svg {

			margin-right: 16px;
			stroke: #fff;
			fill: none;

		}

		&--dashboard {

			top: 137px;

		}

		&--billing {

			top: 391px;

		}

	}

	&__files {

		position: absolute;
		top: 24px;
		left: 482px;
		fill: none;
		background-color: #fff;
		border-radius: 8px;
		box-shadow: 0 0 0 1px var(--bg), -4px -4px 20px rgba(13, 19, 33, 0.06);

	}

	img {

		box-shadow: -4px -4px 20px rgba(13, 19, 33, 0.06);
		border-radius: 10px;

	}

	&--payment {

		overflow: visible;
		padding: 0;
		margin: auto;

		img {

			box-shadow: none;
			border-radius: 0;

		}

	}

}