.trial-period {

	&__head {

		display: flex;
		justify-content: space-between;
		margin-bottom: 16px;

	}

	&__text {

		color: var(--grey);
		font-size: 18px;
		line-height: 32px;
		margin-bottom: 40px;

		@include w1440 {

			font-size: 16px;
			line-height: 24px;

		}

		@include w1024h600 {

			margin-bottom: 26px;
			font-size: 16px;
			line-height: 24px;

		}

	}

	.inputbox {

		margin: 16px 0;

		@include w1024h600 {

			margin: 12px 0;

		}

	}

	&__btns {

		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 16px;

		.btn {

			padding: 0;

		}

	}

	&__storage-tools {

		margin-top: 40px;

		@include w1024h600 {

			margin-top: 26px;

		}

		p {

			margin-bottom: 16px;
			font: 600 18px/40px 'Outfit';

			@include w1024h600 {

				font-size: 16px;
				line-height: 32px;
				margin-bottom: 10px;

			}

		}

		&-list {

			display: flex;
			justify-content: space-between;

			@include w1440 {

				img {

					width: auto;
					height: auto;

				}

			}

		}

	}

}