	<div class="checkout">

{% include "dashboard/progress.html" %}

		<div class="screenshot screenshot--right">

			<div class="screenshot__inner">

				<picture>

					<source srcset="/img/screenshot/dashboard__930x693.png" media="(max-width: 524px)">

					<source srcset="/img/screenshot/dashboard__1282x930.png">

					<img src="/img/screenshot/dashboard__1282x930.png" width="641" height="465" alt="Dashboard | Onboarding">

				</picture>

				<div class="screenshot__name screenshot__name--dashboard">

					<svg width="13" height="13" viewBox="0 0 13 13">
						<path stroke-linecap="round" stroke-linejoin="round" d="M9.2 11.38H3.8c-1.2 0-2.17-.97-2.17-2.17V5.8c0-.76.4-1.46 1.04-1.85l2.7-1.64a2.17 2.17 0 0 1 2.25 0l2.71 1.64c.65.39 1.04 1.1 1.04 1.85v3.4c0 1.2-.97 2.18-2.16 2.18ZM4.88 9.2h3.25"/>
					</svg>

					Dashboard

				</div>

			</div>

		</div>

		<div class="checkout__body">

			<div class="checkout__content">

				<h1 class="checkout__title h1">
					User friendly dashboard
				</h1>

				<p class="checkout__text">
					Manage and monitor your data storage at a glance: intuitive dashboard with all the statistics and simple visualization of storage / bandwidth usage.
				</p>

			</div>

{% include "dashboard/foot.html" %}

		</div>

	</div>