	<div class="tariffs">

		<table>

			<thead>

				<tr>

					<td></td>

					<td></td>

					<td>
						<div class="tariffs__label">
							<div class="tariffs__label-inner">
								Most popular
							</div>
						</div>
					</td>

					<td></td>

				</tr>

				<tr class="tariffs__name">

					<td></td>

					<th>
						Pay As You Go
					</th>

					<th>
						Business
					</th>

					<th>
						Enterprise
					</th>

				</tr>

				<tr class="tariffs__price">

					<td></td>

					<th>
						$3.99
					</th>

					<th>
						$29.99
					</th>

					<th>
						$99.99
					</th>

				</tr>

				<tr class="tariffs__time">

					<td></td>

					<th>
						Month
					</th>

					<th>
						Month
					</th>

					<th>
						Month
					</th>

				</tr>

			</thead>

			<tbody>

{% for tr in [
	{
		name  : "Storage",
		go    : "1 TB",
		business   : "10 TB",
		enterprise : "50 TB"
	},
	{
		name  : "Transfer",
		go    : "1 TB",
		business   : "10 TB",
		enterprise : "50 TB"
	},
	{
		name  : "Additional Storage",
		go    : "$0.004 / GB",
		business   : "$0.003 / GB",
		enterprise : "$0.002 / GB"
	},
	{
		name  : "Additional Transfer",
		go    : "$0.001 / GB",
		business   : "$0.001 / GB",
		enterprise : "$0.001 / GB"
	},
	{
		name  : "API access",
		go    : "Unlimited",
		business   : "Unlimited",
		enterprise : "Unlimited"
	},
	{
		name  : "Priority email support",
		go    : "yes",
		business   : "yes",
		enterprise : "yes"
	},
	{
		name  : "Live chat support",
		go    : "no",
		business   : "yes",
		enterprise : "yes"
	},
	{
		name  : "Free data migration",
		sup   : "New",
		go    : "no",
		business   : "no",
		enterprise : "yes"
	}
]%}

				<tr>

					<th>

						{{ tr.name }}

						{% if tr.sup %}<sup>{{ tr.sup }}</sup>{% endif %}

					</th>

					<td{% if tr.go === "yes" or tr.go === "no" %} class="tariffs__{{ tr.go }}"{% endif %}>

						{{ tr.go }}

					</td>

					<td{% if tr.business === "yes" or tr.business === "no" %} class="tariffs__{{ tr.business }}"{% endif %}>

						{{ tr.business }}

					</td>

					<td{% if tr.enterprise === "yes" or tr.enterprise === "no" %} class="tariffs__{{ tr.enterprise }}"{% endif %}>

						{{ tr.enterprise }}

					</td>

				</tr>

{% endfor %}

			</tbody>

		</table>

	</div>