	<form action="/dashboard/" class="checkout">

{% include "tariffs/progress.html" %}

		<h1 class="checkout__title h2">
			Choose a plan
		</h1>

		<p class="checkout__text">
			Cost of storage space and data transfer comes down with the increase of the data volume.
		</p>

		<label class="radio-btn-plan">

			<input type="radio" class="radio-btn-plan__input visuallyhidden" name="plan" required="required" value="Pay As You Go">

			<span class="radio-btn-plan__head">

				<span class="radio-btn-plan__name">
					Pay As You Go
				</span>

				<span class="radio-btn-plan__price">
					$3.99
				</span>

				<span class="radio-btn-plan__time">
					/month
				</span>

			</span>

			<span class="radio-btn-plan__desc">
				1 TB Storage / 1 TB Transfer
			</span>

		</label>

		<label class="radio-btn-plan">

			<input type="radio" class="radio-btn-plan__input visuallyhidden" name="plan" required="required" value="Business">

			<span class="radio-btn-plan__head">

				<span class="radio-btn-plan__name" data-suf="Most Popular">
					Business
				</span>

				<span class="radio-btn-plan__price">
					$29.99
				</span>

				<span class="radio-btn-plan__time">
					/month
				</span>

			</span>

			<span class="radio-btn-plan__desc">
				10 TB Storage / 10 TB Transfer
			</span>

		</label>

		<label class="radio-btn-plan">

			<input type="radio" class="radio-btn-plan__input visuallyhidden" name="plan" required="required" value="Enterprise">

			<span class="radio-btn-plan__head">

				<span class="radio-btn-plan__name">
					Enterprise
				</span>

				<span class="radio-btn-plan__price">
					$99.99
				</span>

				<span class="radio-btn-plan__time">
					/month
				</span>

			</span>

			<span class="radio-btn-plan__desc">
				50 TB Storage / 50 TB Transfer
			</span>

		</label>

{% include "tariffs/foot.html" %}

	</form>