	<header class="header">

		<div class="center">

			<div class="header__flex">

				<div class="header__logo">
					<span>f.</span>Data
				</div>

				<ul class="header__menu">

					<li>
						<a href="/f.Data.pdf">Спецификация</a>
					</li>

					<li>
						<a href="#details">Видео-обзор</a>
					</li>

					<li>
						<button class="btn btn--text" type="button" data-modal="demo">Заказать демо</button>
					</li>

				</ul>

				<div class="header__btn-menu">

					<button class="button btn-menu" type="button" aria-label="открыть меню">

						<svg width="32" height="32" viewBox="0 0 32 32">
							<path stroke-width="2" d="M6.67 9.33h18.66M6.67 16h18.66M6.67 22.67h18.66"/>
							<path stroke-width="2" d="M24 8 8 24M8 8l16 16"/>
						</svg>

					</button>

				</div>

				<div class="header__contact">

					<a href="mailto:hellopeople@fdata.tech">
						hellopeople@fdata.tech
					</a>

				</div>

			</div>

		</div>

	</header>