.calculator {

	background-color: #fff;
	padding: var(--space) 0;

	&__box {

		height: 740px;
		box-shadow: 2px 2px 20px rgba(13, 19, 33, 0.06);
		border-radius: 20px;

		@media $w1440 {

			height: 721px;

		}

		@media $w1024 {

			box-shadow: none;
			height: 596px;

		}

	}

	&__note {

		margin: 36px auto 0;
		max-width: 888px;
		font-size: 16px;
		line-height: 1.5;
		text-align: center;

		@media $w1440 {

			margin-top: 40px;

		}

	}

}