.clients {

	margin: var(--space) 0;
	scroll-margin: var(--gap);

	&__title {

		margin-bottom: 32px;

		@media $lgWidth {

			margin-bottom: 38px;

		}

	}

	&__cite {

		font-style: normal;
		font-weight: 300;
		position: relative;
		margin-bottom: 20px;
		display: block;

		@media $lgWidth {

			margin-bottom: var(--gap);

		}

		@media $smWidth {

			margin-bottom: 24px;

		}

		figure {

			display: flex;

			@media $mdWidth {

				display: block;
				text-align: center;

			}

		}

		figcaption {

			margin-left: 24px;

			@media $lgWidth {

				margin-right: 32px;

			}

			@media $mdWidth {

				margin: 0;
				font-size: 16px;

				br {

					display: none;

				}

			}

			@media $smWidth {

				font-size: 14px;

			}

			b {

				display: block;
				font-size: 20px;
				font-weight: 600;

				@media $lgWidth {

					font-size: 24px;
					margin-bottom: 2px;

				}

				@media $mdWidth {

					margin-top: 12px;

				}

				@media $smWidth {

					margin: 20px 0 2px;

				}

			}

			small {

				font-size: inherit;
				display: block;

			}

		}

		img {

			border-radius: 50%;
			flex-shrink: 0;

			@media $lgWidth {

				width: auto;
				height: auto;

			}

			@media $mdWidth {

				width: 68px;
				height: 68px;
				margin: auto;

			}

			@media $smWidth {

				width: 88px;
				height: 88px;

			}

		}

	}

	&__intro {

		font-weight: 300;

		@media $mdWidth {

			br {

				display: none;

			}

		}

	}

	&__flex {

		display: flex;
		justify-content: space-between;

		@media $mdWidth {

			display: block;

		}

	}

	&__content {

		width: 400px;
		flex-shrink: 0;
		margin: 32px 0;

		@media $lgWidth {

			width: 460px;

		}

		@media $mdWidth {

			width: auto;
			text-align: center;

		}

	}

	&__list {

		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 612px;
		position: relative;
		margin-top: 44px;

		@media $lgWidth {

			width: 772px;

		}

		@media $mdWidth {

			width: auto;
			display: block;
			text-align: center;

			&::after,
			br {

				display: none;

			}

		}

		&::after {

			position: absolute;
			width: 1px;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			margin: auto;
			background-color: var(--border);

		}

	}

	&__item {

		position: relative;

		@media $desktop {

			&:nth-child(1) {

				padding-right: 20px;
				padding-bottom: 20px;
				border-bottom: 1px solid var(--border);

			}

			&:nth-child(2) {

				padding-left: 20px;
				padding-bottom: 20px;
				border-bottom: 1px solid var(--border);

			}

			&:nth-child(3) {

				padding-right: 20px;
				padding-top: 20px;

			}

			&:nth-child(4) {

				padding-left: 20px;
				padding-top: 20px;

			}

		}

		@media $lgWidth {

			&:nth-child(1) {

				padding-right: 30px;
				padding-bottom: 30px;

			}

			&:nth-child(2) {

				padding-left: 30px;
				padding-bottom: 30px;

			}

			&:nth-child(3) {

				padding-right: 30px;
				padding-top: 30px;

			}

			&:nth-child(4) {

				padding-left: 30px;
				padding-top: 30px;

			}

		}

		@media $mdWidth {

			padding-bottom: 24px;
			margin-bottom: 32px;
			border-bottom: 1px solid var(--border);

		}

		dt {

			margin-bottom: 8px;

		}

		dd {

			font-weight: 300;

		}

		svg {

			fill: var(--purpule);
			margin-bottom: 28px;

			[stroke-width] {

				stroke: var(--purpule);
				fill: none;

			}

			@media $lgWidth {

				margin-bottom: 40px;

			}

			@media $mdWidth {

				margin: 24px auto;
				width: 40px;
				height: 40px;

			}

		}

	}

}