.first-screen {

	position: relative;
	padding: 214px 0 150px;
	background-color: var(--blue);
	color: #fff;
	display: flex;
	align-items: center;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='971' height='971' viewBox='0 0 971 971'%3E%3Cpath fill='%23fff' fill-opacity='.2' d='M971 0v971H0L971 0Z'/%3E%3Cpath fill='%23fff' fill-opacity='.2' d='M971 237.46V971H236.5L971 237.46Z'/%3E%3C/svg%3E");

	@media (min-width: 1601px) {

		@media (max-height: 1079px) {

			padding: 132px 0 46px;

		}

		@media (max-height: 899px) {

			padding: 132px 0 46px;

			.center {

				width: 1308px;

			}

		}

		@media (max-height: 749px) {

			padding: 132px 0 46px;

			.center {

				width: 1000px;

			}

		}

	}

	@media $w1440 {

		padding: 132px 0 46px;
		background-size: 707px 707px;

		@media (min-width: 1301px) and (max-height: 749px) {

			.center {

				width: 1000px;

			}

		}

	}

	@media $w1024 {

		padding: 120px 0 46px;
		background-size: 511px 511px;

	}

	@media $w768 {

		padding: 152px 0 140px;
		background-size: 100% auto;

	}

	@media $w360 {

		padding: 104px 0 28px;

	}

	&__flex {

		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;

		@media $w768 {

			display: block;

		}

	}

	&__content {

		position: relative;

		@media (min-width: 1601px) {

			@media (max-height: 899px) {

				max-width: 600px;

			}

			@media (max-height: 749px) {

				max-width: 400px;

			}

		}

		@media $w1440 {

			max-width: 600px;

			@media (min-width: 1301px) and (max-height: 749px) {

				max-width: 400px;

			}

		}

		@media $w1024 {

			max-width: 380px;

		}

		@media $w768 {

			max-width: 380px;
			margin: auto;

		}

		@media $w360 {

			max-width: 340px;

		}

	}

	&__cloud {

		&-1 {

			position: absolute;
			top: -48px;
			right: 272px;
			width: auto;
			height: auto;

			@media $w1440 {

				top: -90px;
				right: 150px;

			}

			@media $w1024 {

				top: -16px;
				right: 42px;

			}

			@media $w768 {

				top: 62px;
				right: -90px;

			}

			@media $w360 {

				display: none;

			}

		}

		&-2 {

			position: absolute;
			bottom: 128px;
			right: 52px;
			width: auto;
			height: auto;

			@media (min-width: 1601px) {

				@media (max-height: 1079px) or (max-height: 899px) {

					right: -70px;

				}

			}

			@media $w1440 {

				bottom: 85px;
				right: -65px;

			}

			@media $w1024 {

				bottom: 66px;
				right: -42px;

			}

			@media $w768 {

				bottom: -480px;
				right: -146px;

			}

			@media $w360 {

				display: none;

			}

		}

		&-3 {

			position: absolute;
			bottom: -125px;
			left: -66px;
			width: auto;
			height: auto;

			@media $w1440 {

				bottom: -117px;
				left: -33px;

			}

			@media $w1024 {

				bottom: -53px;
				left: -22px;

			}

			@media $w768 {

				bottom: -24px;
				left: -136px;

			}

			@media $w360 {

				display: none;

			}

		}

	}

	&__discounter {

		display: flex;
		align-items: center;
		font-weight: 600;
		font-size: 32px;
		line-height: 56px;
		margin-bottom: 8px;

		@media (min-width: 1601px) {

			@media (max-height: 899px) {

				font-size: 30px;
				line-height: 40px;

			}

			@media (max-height: 749px) {

				font-size: 22px;
				line-height: 32px;

			}

		}

		@media $w1440 {

			font-size: 30px;
			line-height: 40px;

			@media (min-width: 1301px) and (max-height: 749px) {

				font-size: 22px;
				line-height: 32px;

			}

		}

		@media $w1024 {

			font-size: 22px;
			line-height: 32px;

		}

		@media $w768 {

			font-size: 20px;
			justify-content: center;

		}

		@media $w360 {

			font-size: 16px;
			line-height: 24px;
			margin-bottom: 4px;

		}

		img {

			margin-right: 30px;

			@media (min-width: 1601px) {

				@media (max-height: 899px) {

					margin-right: 24px;

				}

				@media (max-height: 749px) {

					width: 32px;
					height: 32px;
					margin-right: 16px;

				}

			}

			@media $w1440 {

				margin-right: 24px;

				@media (min-width: 1301px) and (max-height: 749px) {

					width: 32px;
					height: 32px;
					margin-right: 16px;

				}

			}

			@media $w1024 {

				width: 32px;
				height: 32px;
				margin-right: 16px;

			}

			@media $w768 {

				margin-right: 8px;

			}

			@media $w360 {

				width: 24px;
				height: 24px;

			}

		}

	}

	&__title {

		margin-bottom: 80px;

		@media (min-width: 1601px) {

			@media (max-height: 899px) {

				font-size: 90px;
				line-height: 100px;
				margin-bottom: 60px;

			}

			@media (max-height: 749px) {

				font-size: 68px;
				line-height: 74px;
				margin-bottom: 34px;

			}

		}

		@media $w1440 {

			margin-bottom: 60px;

			@media (min-width: 1301px) and (max-height: 749px) {

				font-size: 68px;
				line-height: 74px;
				margin-bottom: 34px;

			}

		}

		@media $w1024 {

			margin-bottom: 34px;

		}

		@media $w768 {

			text-align: center;
			margin-bottom: 32px;

		}

	}

	&__text {

		font-size: 30px;
		line-height: 56px;
		margin-bottom: 48px;

		@media (min-width: 1601px) {

			@media (max-height: 899px) {

				font-size: 28px;
				margin-bottom: 40px;

			}

			@media (max-height: 749px) {

				font-size: 20px;
				line-height: 32px;
				margin-bottom: 30px;

			}

		}

		@media $w1440 {

			font-size: 28px;
			margin-bottom: 40px;

			@media (min-width: 1301px) and (max-height: 749px) {

				font-size: 20px;
				line-height: 32px;
				margin-bottom: 30px;

			}

		}

		@media $w1024 {

			font-size: 20px;
			line-height: 32px;
			margin-bottom: 30px;

		}

		@media $w768 {

			font-size: 18px;
			text-align: center;

		}

		@media $w360 {

			font-size: 15px;
			line-height: 32px;
			margin-bottom: 16px;

		}

	}

	&__btn {

		display: flex;
		margin-bottom: 16px;
		width: 300px;

		@media (min-width: 1601px) {

			@media (max-height: 899px) {

				margin-bottom: 0;

				.btn {

					font-size: 18px;
					height: 64px;
					line-height: 64px;

				}

			}

			@media (max-height: 749px) {

				width: 250px;
				margin-bottom: 44px;

				.btn {

					font-size: 16px;
					height: 48px;
					line-height: 48px;

				}

			}

		}

		@media $w1440 {

			margin-bottom: 0;

			@media (min-width: 1301px) and (max-height: 749px) {

				width: 250px;
				margin-bottom: 44px;

				.btn {

					font-size: 16px;
					height: 48px;
					line-height: 48px;

				}

			}

		}

		@media $w1024 {

			width: 250px;
			margin-bottom: 24px;

		}

		@media $w768 {

			width: 100%;
			margin-bottom: 32px;

		}

		@media $w360 {

			margin-bottom: 48px;

		}

		.btn {

			width: 100%;

		}

	}

	&__offer {

		padding: 64px;
		width: 581px;
		flex-shrink: 0;
		background-color: #fff;
		border-radius: 10px;
		color: var(--color);

		@media (min-width: 1601px) {

			@media (max-height: 899px) {

				width: 450px;
				padding: 40px;

			}

			@media (max-height: 749px) {

				width: 328px;
				padding: 24px;

			}

		}

		@media $w1440 {

			width: 450px;
			padding: 40px;

			@media (min-width: 1301px) and (max-height: 749px) {

				width: 328px;
				padding: 24px;

			}

		}

		@media $w1024 {

			width: 328px;
			padding: 24px;

		}

		@media $w768 {

			width: 380px;
			padding: 40px 50px;
			margin: auto;

		}

		@media $w360 {

			width: 340px;
			max-width: 100%;
			padding: 30px 20px;

		}

		&-old {

			font-family: 'Outfit';
			font-weight: 700;
			font-size: 32px;
			line-height: 36px;
			text-decoration-line: line-through;
			color: var(--pink);

			@media (min-width: 1601px) {

				@media (max-height: 899px) {

					font-size: 24px;
					line-height: 32px;

				}

				@media (max-height: 749px) {

					font-size: 20px;
					line-height: 28px;

				}

			}

			@media $w1440 {

				font-size: 24px;
				line-height: 32px;

				@media (min-width: 1301px) and (max-height: 749px) {

					font-size: 20px;
					line-height: 28px;

				}

			}

			@media $w1024 {

				font-size: 20px;
				line-height: 28px;

			}

		}

		&-text {

			font-weight: 600;
			font-size: 24px;
			line-height: 36px;
			margin-bottom: 48px;

			@media (min-width: 1601px) {

				@media (max-height: 899px) {

					font-size: 16px;
					line-height: 24px;
					margin-bottom: 32px;

				}

				@media (max-height: 749px) {

					font-size: 14px;
					margin-bottom: 16px;

				}

			}

			@media $w1440 {

				font-size: 16px;
				line-height: 24px;
				margin-bottom: 32px;

				@media (min-width: 1301px) and (max-height: 749px) {

					font-size: 14px;
					margin-bottom: 16px;

				}

			}

			@media $w1024 {

				font-size: 14px;
				margin-bottom: 16px;

			}

		}

		&-price {

			font-family: 'Outfit';
			font-weight: 800;
			font-size: 64px;
			line-height: 72px;
			white-space: nowrap;

			@media (min-width: 1601px) {

				@media (max-height: 899px) {

					font-size: 48px;

				}

				@media (max-height: 749px) {

					font-size: 28px;
					line-height: 40px;

				}

			}

			@media $w1440 {

				font-size: 48px;

				@media (min-width: 1301px) and (max-height: 749px) {

					font-size: 28px;
					line-height: 40px;

				}

			}

			@media $w1024 {

				font-size: 28px;
				line-height: 40px;

			}

		}

		&-time {

			display: block;
			font-weight: 600;
			font-size: 24px;
			line-height: 36px;
			color: var(--grey);
			margin-bottom: 48px;

			@media (min-width: 1601px) {

				@media (max-height: 899px) {

					margin-bottom: 32px;

				}

				@media (max-height: 749px) {

					font-size: 16px;
					line-height: 24px;
					margin-bottom: 16px;

				}

			}

			@media $w1440 {

				margin-bottom: 32px;

				@media (min-width: 1301px) and (max-height: 749px) {

					font-size: 16px;
					line-height: 24px;
					margin-bottom: 16px;

				}

			}

			@media $w1024 {

				font-size: 16px;
				line-height: 24px;
				margin-bottom: 16px;

			}

		}

		&-list {

			font-weight: 600;
			font-size: 30px;
			line-height: 56px;

			@media (min-width: 1601px) {

				@media (max-height: 899px) {

					font-size: 20px;
					line-height: 40px;

					li {

						padding-left: 56px;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none' viewBox='0 0 40 40'%3E%3Cpath stroke='%23E56399' stroke-width='4' d='m8.33 23.33 6.67 5L30 10'/%3E%3C/svg%3E");

					}

				}

				@media (max-height: 749px) {

					font-size: 16px;
					line-height: 24px;

					li {

						padding-left: 36px;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23E56399' stroke-width='2' d='m5 14 4 3 9-11'/%3E%3C/svg%3E");

					}

				}

			}

			@media $w1440 {

				font-size: 20px;
				line-height: 40px;

				li {

					padding-left: 56px;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none' viewBox='0 0 40 40'%3E%3Cpath stroke='%23E56399' stroke-width='4' d='m8.33 23.33 6.67 5L30 10'/%3E%3C/svg%3E");

				}

				@media (min-width: 1301px) and (max-height: 749px) {

					font-size: 16px;
					line-height: 24px;

					li {

						padding-left: 36px;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23E56399' stroke-width='2' d='m5 14 4 3 9-11'/%3E%3C/svg%3E");

					}

				}

			}

			@media $w1024 {

				font-size: 16px;
				line-height: 24px;

				li {

					padding-left: 36px;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23E56399' stroke-width='2' d='m5 14 4 3 9-11'/%3E%3C/svg%3E");

				}

			}

			li {

				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' fill='none' viewBox='0 0 56 56'%3E%3Cpath stroke='%23E56399' stroke-width='4' d='m11.67 32.67 9.33 7L42 14'/%3E%3C/svg%3E");
				background-repeat: no-repeat;
				padding-left: 72px;

				& + li {

					margin-top: 12px;

				}

			}

		}

		.btn {

			width: 100%;
			border-radius: 8px;
			margin-top: 48px;

			@media (min-width: 1601px) {

				@media (max-height: 899px) {

					margin-top: 32px;
					font-size: 18px;
					height: 64px;
					line-height: 64px;

				}

				@media (max-height: 749px) {

					margin-top: 16px;
					height: 48px;
					line-height: 48px;
					font-size: 16px;

				}

			}

			@media $w1440 {

				margin-top: 32px;

				@media (min-width: 1301px) and (max-height: 749px) {

					margin-top: 16px;
					height: 48px;
					line-height: 48px;
					font-size: 16px;

				}

			}

			@media $w1024 {

				margin-top: 16px;

			}

		}

	}

}