.first-screen {

	position: relative;
	padding: 75px 0;
	margin-bottom: 48px;



	&__flex {

		display: flex;
		align-items: center;
		position: relative;


	}

	&__content {

		padding-bottom: 34px;
		margin-left: 90px;
		flex-shrink: 0;

	}

	&__img {

		width: 332px;
		position: relative;


	}

	&__title {



	}

	&__text {

		margin: 16px 0;
		font-weight: 500;
		font-size: 28px;
		line-height: 1.25;


	}

	&__btn {

		margin-top: 56px;
		display: flex;


		.btn {

			box-shadow: 0px 4px 16px rgba(255, 142, 36, 0.12);

		}

	}

	&__next {

		position: absolute;
		left: 90px;
		bottom: 0;
		opacity: .16;




		svg {

			fill: none;
			stroke: var(--color);

		}

	}

}