.footer {

	flex-shrink: 0;
	position: relative;
	border-top: 4px;
	padding: 40px 0;
	border-top: 1px solid var(--border);

	@media $w1440 {

		padding: 0;

	}

	&__top {

		display: flex;
		justify-content: space-between;
		margin: 70px 0;

		@media $w1440 {

			margin: 66px 0 70px;

		}

		@media $w1024 {

			margin: 44px 0 47px;

		}

	}

	&__logo {

		width: 404px;
		flex-shrink: 0;

		@media $w1440 {

			width: 200px;

		}

		svg {

			fill: var(--blue);

			@media $w1440 {

				width: 152px;
				height: 28px;

			}

		}

	}

	&__top &__logo {

		margin-top: 9px;

		@media $w1440 {

			margin-top: 15px;

		}

		@media $w1024 {

			display: none;

		}

	}

	&__head {

		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		font-family: 'Outfit';

	}

	&__menu {

		flex-shrink: 0;

		li {

			font-size: 16px;
			line-height: 24px;
			margin-top: 20px;

		}

		a {

			color: var(--grey);
			display: flex;

			@media $desktop {

				&:hover {

					color: var(--blue);

				}

			}

		}

		svg {

			fill: var(--grey);
			margin-right: 16px;
			flex-shrink: 0;

		}

	}

	hr {

		margin: 24px 0;

	}

	&__bottom {

		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 50px 0 40px;

		@media $w1440 {

			margin: 40px 0;

		}

		@media $w1024 {

			margin-top: 24px;

		}

	}

	&__bottom &__logo {

		display: none;

		@media $w1024 {

			display: block;
			order: 1;
			flex-basis: 30%;

			svg {

				width: 130px;
				height: 24px;

			}

		}

	}

	&__copyright {

		font-size: 16px;
		color: var(--grey);
		order: 2;

		@media $w1024 {

			font-size: 14px;
			text-align: center;

		}

	}

	&__social {

		display: flex;
		order: 3;

		@media $w1024 {

			flex-basis: 30%;
			display: flex;
			justify-content: flex-end;

		}

		li + li {

			margin-left: 32px;

			@media $w1024 {

				margin-left: 24px;

			}

		}

		a {

			display: block;
			width: 48px;
			height: 48px;
			border-radius: 50%;
			background-color: var(--blue);

			@media $w1024 {

				width: 32px;
				height: 32px;

				svg {

					width: 32px;
					height: 32px;

				}

			}

			@media $desktop {

				&:hover {

					opacity: .8;

				}

			}

		}

		svg {

			fill: #fff;

		}

	}

}