.footer {

	flex-shrink: 0;
	position: relative;
	margin: 148px 0 56px;
	font-weight: 300;
	font-size: 16px;

	@media $mdWidth {

		margin: 128px 0 48px;

	}

	@media $smWidth {

		margin: 136px 0 32px;

	}

	&__flex {

		display: grid;
		grid-template-columns: 320px 6fr 7fr auto;
		grid-template-rows: 72px auto;
		grid-template-areas: "logo menu contact social"
							 "copyright menu contact social";

		@media $lgWidth {

			grid-template-columns: 370px 7fr 8fr auto;

		}

		@media $mdWidth {

			gap: 20px;
			grid-template-columns: 204px 1fr 224px;
			grid-template-rows: auto auto;
			grid-template-areas: "logo menu contact"
								 "copyright empty social";

		}

		@media $smWidth {

			display: block;

		}

	}

	&__logo {

		font-weight: 800;
		font-size: 36px;
		line-height: 1.2;
		grid-area: logo;

		span {

			color: var(--orange);

		}

		@media $mdWidth {

			font-size: 27px;

		}

		@media $smWidth {

			font-size: 36px;
			text-align: center;
			margin-bottom: 32px;

		}

	}

	&__copyright {

		display: flex;
		flex-direction: column-reverse;
		grid-area: copyright;
		gap: 8px;

		@media $mdWidth {

			gap: 11px;

		}

		@media $smWidth {

			display: block;
			text-align: center;
			margin-top: 32px;

		}

		p {

			color: rgba(37, 37, 37, .5);
			font-size: 14px;

			@media $lgWidth {

				font-size: 15px;

			}

			@media $mdWidth {

				font-size: 12px;

			}

			@media $smWidth {

				font-size: 15px;
				margin-top: 16px;

			}

		}

		a {

			text-decoration: underline;
			color: inherit;

			@media $desktop {

				&:hover {

					text-decoration: none;

				}

			}

		}

	}

	&__menu {

		grid-area: menu;

		@media $mdWidth {

			font-size: 14px;

		}

		@media $smWidth {

			display: none;

		}

		li + li {

			margin-top: 8px;

		}

		.btn {

			font-size: 16px;
			line-height: 26px;
			height: 26px;

			@media $mdWidth {

				font-size: 14px;
				line-height: 22px;
				height: 22px;

			}

		}

		a {

			@media $desktop {

				&:hover {

					color: var(--orange);

				}

			}

		}

	}

	&__contact {

		grid-area: contact;

		@media $mdWidth {

			font-size: 14px;

		}

		@media $smWidth {

			text-align: center;
			font-size: 16px;

			p + p {

				margin-top: 16px;

			}

		}

		p + p {

			margin-top: 8px;

		}

	}

	&__social {

		grid-area: social;

		display: flex;
		gap: 24px;

		@media $mdWidth {

			gap: 20px;

		}

		@media $smWidth {

			gap: 24px;
			justify-content: center;
			margin: 32px 0;

		}

		a {

			width: 48px;
			height: 48px;
			background-color: #fff;
			box-shadow: var(--box-shadow);
			border-radius: 8px;
			display: flex;
			align-items: center;
			justify-content: center;

			@media $desktop {

				&:hover svg {

					fill: var(--orange);

				}

			}

			@media $mdWidth {

				width: 44px;
				height: 44px;

			}

			@media $smWidth {

				width: 48px;
				height: 48px;

			}

		}

	}

}