.header {

	padding: 80px 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

	@media $w1440 {

		padding: 63px 0;

	}

	@media $w1024 {

		padding: 40px 0;

		.center {

			width: 100%;
			padding: 0 38px;

		}

	}

	@media $w768 {

		.center {

			padding: 0 var(--indent);

		}

	}

	&__flex {

		display: flex;
		justify-content: space-between;
		align-items: center;

	}

	&__logo {

		width: 256px;

		@media $w1440 {

			width: 190px;

		}

		@media $w1024 {

			width: 156px;

		}

		@media $w768 {

			height: 40px;
			display: flex;
			align-items: center;

		}

		svg {

			fill: #fff;

			@media $w1440 {

				width: 152px;
				height: 28px;

			}

			@media $w1024 {

				width: 130px;
				height: 24px;

			}

		}

	}

	&__menu {

		display: flex;

		@media $w768 {

			display: none;

		}

		li {

			margin: 0 50px;

			@media $w1440 {

				margin: 0 40px;

			}

			@media $w1024 {

				margin: 0 24px;
				font-size: 16px;

			}

			@media $w768 {

				font-size: 24px;
				line-height: 32px;
				margin: 60px 0;
				display: flex;
				justify-content: center;

			}

		}

		a {

			font-weight: 600;
			display: block;
			color: #fff;
			position: relative;

			&::before {

				transform-origin: 50% 100%;
				transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
				clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
				content: '';
				background-color: #fff;
				position: absolute;
				width: 100%;
				height: 2px;
				bottom: -6px;
				left: 0;
				pointer-events: none;

				@media $w1440 {

					bottom: -4px;

				}

			}

			@media $desktop {

				&:hover::before {

					transform: scale3d(1, 1, 1);
					clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);

				}

			}


		}

	}

	&__user {

		display: flex;

		@media $w1440 {

			.btn {

				font-size: 16px;

			}

		}

		@media $w768 {

			margin-left: auto;

		}

	}

	&__btn-menu {

		display: none;

		@media $w768 {

			display: block;
			margin-right: -4px;
			margin-left: 36px;

		}

	}

}

@media $w768 {

	.btn-menu {

		width: 40px;
		height: 40px;

		&__top,
		&__center,
		&__bottom {

			position: absolute;
			width: 32px;
			height: 4px;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			border-radius: 2px;
			background-color: #fff;
			transition: var(--transitionDefault);

		}

		&__top {

			top: 18px;

			.menu-show & {

				top: 0;
				transform: rotate(-45deg);

			}

		}

		&__center {

			.menu-show & {

				opacity: 0;

			}

		}

		&__bottom {

			bottom: 18px;

			.menu-show & {

				bottom: 0;
				transform: rotate(45deg);

			}

		}

	}

	.menu-show {

		background-color: var(--blue);
		background-position: 100% 100%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='558' height='558' viewBox='0 0 558 558'%3E%3Cpath fill='%23fff' fill-opacity='.2' d='M558 0v558H0L558 0Z'/%3E%3Cpath fill='%23fff' fill-opacity='.2' d='M558 136.46V558H135.9L558 136.46Z'/%3E%3C/svg%3E");

		.main,
		.footer {

			display: none;

		}

		.header {

			display: flex;
			flex-direction: column;
			bottom: 0;

			.center {

				flex-grow: 1;
				display: flex;
				flex-direction: column;

			}

			&__flex {

				flex-grow: 1;
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				justify-content: space-between;

			}

			&__menu {

				display: block;
				order: 4;
				width: 100%;

			}

			&__user {

				display: none;

			}

		}

	}

}