.header {

	padding: 80px 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

	@media $w1440 {

		padding: 63px 0;

	}

	@media $w1024 {

		padding: 39px 0;

	}

	&__flex {

		display: flex;
		justify-content: space-between;
		align-items: center;

	}

	&__logo {

		width: 256px;

		@media $w1440 {

			width: 190px;

		}

		@media $w1024 {

			width: 156px;

		}

		svg {

			fill: #fff;

			@media $w1440 {

				width: 152px;
				height: 28px;

			}

			@media $w1024 {

				width: 130px;
				height: 24px;

			}

		}

	}

	&__menu {

		display: flex;

		li {

			margin: 0 50px;

			@media $w1440 {

				margin: 0 40px;

			}

			@media $w1024 {

				margin: 0 24px;
				font-size: 16px;

			}

		}

		a {

			font-weight: 600;
			display: block;
			color: #fff;
			position: relative;

			&::before {

				transform-origin: 50% 100%;
				transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
				clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
				content: '';
				background-color: #fff;
				position: absolute;
				width: 100%;
				height: 2px;
				bottom: -6px;
				left: 0;
				pointer-events: none;

				@media $w1440 {

					bottom: -4px;

				}

			}

			@media $desktop {

				&:hover::before {

					transform: scale3d(1, 1, 1);
					clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);

				}

			}


		}

	}

	&__user {

		display: flex;

		@media $w1440 {

			.btn {

				font-size: 16px;

			}

		}

	}

	&__btn-menu {

		display: none;

		@media $w768 {


		}

	}

}

@media $w768 {

	.menu-show {

		background-color: #fff;

		.main,
		.footer {

			display: none;

		}

		.header {



		}

	}

}