.pricing {

	margin: var(--space) 0;
	scroll-margin: var(--space);

	.title {

		padding-bottom: 36px;

		@media $w1024 {
/* del */
			font-size: 40px;
			line-height: 56px;
			margin-bottom: 65px;

		}

	}

	&__box {

		display: flex;
		padding: 0 35px;
		border-radius: 10px;
		background-color: #fff;
		justify-content: space-between;

		@media $w1440 {

			padding: 0;

		}

	}

	&__item {

		padding: 40px;
		width: 420px;
		border-radius: 10px;
		display: flex;
		flex-direction: column;

		@media $w1440 {

			width: 390px;

		}

		@media $w1024 {

			width: 280px;
			padding: 20px;

		}

		&.is-popular {

			color: #fff;
			position: relative;
			margin-top: -36px;
			align-self: flex-start;
			background-color: var(--blue);

			@media $w1440 {

				width: 380px;

			}

			@media $w1024 {

				width: 280px;
				margin-top: -28px;

			}

		}

	}

	&__label {

		font-family: 'Outfit';
		font-weight: 500;
		font-size: 16px;
		line-height: 48px;
		color: var(--blue);
		padding: 0 30px;
		margin: -66px auto 14px;
		background-color: var(--bg);
		border: 2px solid;
		border-radius: 20px;

		@media $w1024 {

			margin: -46px auto -6px;

		}

	}

	&__head {

		text-align: center;
		margin-bottom: 40px;

		@media $w1440 {

			font-size: 32px;

		}

		@media $w1024 {

			font-size: 24px;
			margin: 28px 0 24px;

		}

	}

	&__old {

		font-family: 'Outfit';
		font-weight: 500;
		font-size: 20px;
		line-height: 40px;
		color: var(--pink);
		text-align: center;

		.is-popular & {

			color: #fff;

		}

		s {

			margin-right: 4px;

		}

		@media $w1024 {

			font-size: 14px;
			line-height: 24px;

		}

	}

	&__price {

		font-family: 'Outfit';
		font-weight: 600;
		font-size: 40px;
		line-height: 56px;
		color: var(--blue);
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 40px;

		.is-popular & {

			color: #fff;

		}

		@media $w1024 {

			font-size: 32px;
			line-height: 40px;
			margin-bottom: 16px;

		}

	}

	&__time {

		font-weight: 500;
		font-size: 24px;
		line-height: 40px;
		color: var(--grey);
		margin-left: 10px;

		.is-popular & {

			color: rgba(255, 255, 255, 0.5);

		}

		@media $w1024 {

			font-size: 16px;
			margin-left: 10px;

		}

	}

	&__list {

		font-weight: 600;
		font-size: 18px;
		line-height: 32px;
		margin-left: 27px;
		margin-bottom: 40px;

		@media $w1440 {

			margin-left: 12px;

			.is-popular & {

				margin-left: 7px;

			}

		}

		@media $w1024 {

			font-size: 14px;
			margin-left: 3px;
			margin-bottom: 16px;

			.is-popular & {

				margin-left: 3px;

			}

		}

		li {

			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='none' viewBox='0 0 32 32'%3E%3Cpath stroke='%2341A8ED' stroke-width='2' d='m6.67 18.67 5.33 4L24 8'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			padding-left: 48px;

			.is-popular & {

				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='none' viewBox='0 0 32 32'%3E%3Cpath stroke='%23fff' stroke-opacity='.5' stroke-width='2' d='m6.67 18.67 5.33 4L24 8'/%3E%3C/svg%3E");

			}

			& + li {

				margin-top: 12px;

				@media $w1024 {

					margin-top: 8px;

				}

			}

			sup {

				padding: 0 7px;
				background-color: var(--pink);
				border-radius: 4px;
				font-weight: 600;
				font-size: 10px;
				line-height: 16px;
				margin-left: 6px;
				display: inline-block;
				vertical-align: top;
				color: #fff;

			}

		}

	}

	&__btn {

		margin-top: auto;

		.is-popular & {

			margin: auto 10px 10px;

			@media $w1024 {

				margin: auto 0 0;

			}

		}

		.btn {

			width: 100%;
			border-radius: 8px;

		}

	}

}