.storage-needs {

	background-color: #fff;
	padding: var(--space) 0;

	&__list {

		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 40px;

		@media $w1440 {

			gap: 40px 18px;

		}

		@media $w360 {

			display: block;

		}

	}

	&__item {

		padding: 32px;
		width: 424px;

		@media $w1440 {

			width: 388px;
			padding: 24px;

		}

		@media $w1024 {

			width: 262px;
			padding: 16px;

		}

		@media $w768 {

			padding: 24px 16px;

		}

		@media $w360 {

			width: 360px;
			max-width: 100%;
			margin: 16px auto 0;
			text-align: center;
			padding: 16px;

		}

		dd {

			color: var(--grey);
			margin-top: var(--gap);

			@media $w360 {

				font-size: 13px;
				line-height: 20px;

			}

		}

	}

}