.storage-needs {

	background-color: #fff;
	padding: var(--space) 0;

	&__title {

		text-align: center;
		margin-bottom: 80px;

	}

	&__list {

		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 40px;

	}

	&__item {

		padding: 32px;
		width: 424px;

		dd {

			color: var(--grey);
			margin-top: var(--gap);

		}

	}

}