.storage-tools {

	margin: var(--space) 0;
	scroll-margin: var(--gap);

	&__list {

		display: flex;
		justify-content: space-between;

	}

	&__item {

		width: 285px;
		padding: 32px;

		@media $w1440 {

			width: 225px;

		}

		@media $w1024 {

			width: 209px;
			padding: 24px;

		}

		img {

			margin: 0 auto 32px;
			max-width: 100%;
			object-fit: contain;

			@media $w1024 {

				margin-bottom: 8px;

			}

		}

		figcaption {

			font-weight: 600;
			font-size: 24px;
			line-height: 40px;
			font-family: 'Outfit';
			text-align: center;

			@media $w1024 {

				font-size: 16px;
				line-height: 24px;

			}

		}

	}

}