:root {

	--color: #1b2a47;
	--grey: #6e7e9d;
	--blue: #41a8ed;
	--pink: #e56399;
	--error: #ff3e13;
	--bg: #fafafa;
	--border: #d4d7e0;

	--transitionDefault: 0s;

	--indent: 120px;
	--gap: 15px;
	--space: 160px;

}

$desktop: (min-width: 1250px);
$w1440: (max-width: 1600px);
$w1024: (max-width: 1249px);
$w768: (max-width: 959px);
$w360: (max-width: 767px);