	<div class="checkout">

{% include "billing/progress.html" %}

		<div class="screenshot screenshot--right">

			<div class="screenshot__inner">

				<picture>

					<source srcset="/img/screenshot/billing__930x693.png" media="(max-width: 767px)">

					<source srcset="/img/screenshot/billing__1282x930.png">

					<img src="/img/screenshot/billing__1282x930.png" width="1282" height="930" alt="Billing | Onboarding">

				</picture>

				<div class="screenshot__name screenshot__name--billing">

					<svg width="13" height="13" viewBox="0 0 13 13">
						<path d="M7.72 2.17H5.28c-1.72 0-2.58 0-3.12.54s-.54 1.42-.54 3.17v1.24c0 1.75 0 2.62.54 3.17.54.54 1.4.54 3.12.54h2.44c1.72 0 2.58 0 3.12-.54.54-.55.54-1.42.54-3.17V5.88c0-1.75 0-2.63-.54-3.17s-1.4-.54-3.12-.54Z"/>
						<path stroke-linecap="round" d="M3.8 4.33h1.62"/>
						<path d="M10.3 8.67H9.05a1 1 0 0 1-.93-.94v-.3a1 1 0 0 1 .93-.93h1.38c.5.03.9.43.93.93v.3a1 1 0 0 1-.93.93h-.15Z"/>
					</svg>

					Billing

				</div>

			</div>

		</div>

		<div class="checkout__content">

			<h1 class="checkout__title h1">
				Transparent billing
			</h1>

			<p class="checkout__text">
				You shouldn't need a PhD in economics to predict your next bill: we offer simple and transparent monthly billing and the prices radically сheaper than competition.
			</p>

		</div>

{% include "billing/foot.html" %}

	</div>